.version.index /* version checker */
{
	color: #00000A;
	background-color: #B31287;
}

@font-face
{
	font-family: '__Ubuntu_5';
	src: url('../fonts/ubuntu-v9-latin-500.eot');
	src: local('☺'), url('../fonts/ubuntu-v9-latin-500.woff') format('woff'), url('../fonts/ubuntu-v9-latin-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Uni Sans_5';
	src: url('../fonts/uni%20sans%20heavy.eot');
	src: local('☺'), url('../fonts/uni%20sans%20heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: '__Uni Sans_5';
	src: url('../fonts/uni%20sans%20thin.eot');
	src: local('☺'), url('../fonts/uni%20sans%20thin.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

#page
{
	border-color: transparent;
	margin-left: auto;
	border-width: 0px;
	background-color: #F7F7F2;
	width: 100%;
	z-index: 1;
	background-image: none;
	margin-right: auto;
}

#u110-4
{
	font-weight: 900;
	min-height: 50px;
	z-index: 2;
	background-color: transparent;
	font-family: '__Uni Sans_5';
	color: #4A4A4A;
	position: relative;
}

#u115-4
{
	font-weight: 200;
	z-index: 6;
	background-color: transparent;
	text-align: right;
	font-family: '__Uni Sans_5';
	color: #4A4A4A;
	position: relative;
}

#u122
{
	position: relative;
	z-index: 14;
	background-color: transparent;
	margin-right: -10000px;
}

#u194
{
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	z-index: 16;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	position: relative;
	background-color: transparent;
	-webkit-transition-duration: 0s;
}

#u266-4
{
	-webkit-transition-delay: 0s;
	z-index: 28;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u206
{
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	position: relative;
	-webkit-transition-delay: 0s;
	z-index: 18;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

#u289-4
{
	-webkit-transition-delay: 0s;
	z-index: 48;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u218
{
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	z-index: 20;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u230
{
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	z-index: 22;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	position: relative;
	background-color: transparent;
	-webkit-transition-duration: 0s;
}

#u230:hover
{
	margin-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	margin-top: 0px;
	transition-delay: 0s;
	opacity: 0.75;
	min-height: 0px;
}

#u277-4
{
	-webkit-transition-delay: 0s;
	z-index: 32;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u277-4:hover
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=85);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	margin-left: 0%;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	margin-top: 0px;
	transition-delay: 0s;
	opacity: 0.85;
	min-height: 24px;
	padding-top: 0px;
}

#u254
{
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	z-index: 26;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u194:hover,#u254:hover
{
	margin-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	opacity: 0.75;
	min-height: 0px;
}

#u271-4
{
	-webkit-transition-delay: 0s;
	z-index: 36;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u242
{
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	z-index: 24;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	position: relative;
}

#u206:hover,#u218:hover,#u242:hover
{
	margin-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	margin-left: 0%;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	opacity: 0.75;
	min-height: 0px;
}

#u122_img,#u194_img,#u206_img,#u218_img,#u230_img,#u254_img,#u242_img
{
	width: 100%;
}

#u283-4
{
	-webkit-transition-delay: 0s;
	z-index: 40;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u271-4:hover,#u283-4:hover
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=85);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	opacity: 0.85;
	min-height: 24px;
	padding-top: 0px;
}

#u295-4
{
	-webkit-transition-delay: 0s;
	z-index: 44;
	background-color: transparent;
	-webkit-transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	text-align: center;
	min-height: 24px;
	color: #4A4A4A;
	position: relative;
	transition-duration: 0s;
}

#u266-4:hover,#u289-4:hover,#u295-4:hover
{
	margin-bottom: 0px;
	padding-bottom: 0px;
	-webkit-transition-timing-function: ease;
	filter: alpha(opacity=85);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	transition-duration: 0.5s;
	-webkit-transition-delay: 0s;
	margin-left: 0%;
	transition-timing-function: ease;
	-webkit-transition-duration: 0.5s;
	transition-delay: 0s;
	opacity: 0.85;
	min-height: 24px;
	padding-top: 0px;
}

#u266-4:hover p,#u289-4:hover p,#u277-4:hover p,#u271-4:hover p,#u283-4:hover p,#u295-4:hover p
{
	visibility: inherit;
	color: #1084FF;
}

#u158-4
{
	font-weight: 200;
	z-index: 10;
	background-color: transparent;
	text-align: center;
	font-family: '__Uni Sans_5';
	color: #4A4A4A;
	position: relative;
}

#u110,#u115,#u158
{
	letter-spacing: -1px;
}

.html
{
	background-color: #F7F7F2;
}

body
{
	position: relative;
}

@media (min-width: 481px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 732.5849418058266px;
		padding-top: 62px;
		padding-bottom: 122.41505819417341px;
		max-width: 960px;
	}

	#u110-4
	{
		text-align: right;
		font-size: 26px;
		line-height: 31px;
		width: 46.88%;
		margin-left: 51.05%;
	}

	#pu122
	{
		margin-top: 2px;
		width: 85.21%;
		margin-left: 11.25%;
	}

	#u122
	{
		width: 32.28%;
	}

	#pu115-4
	{
		margin-right: -10000px;
		width: 53.43%;
		margin-left: 46.58%;
	}

	#u115-4
	{
		min-height: 50px;
		font-size: 20px;
		line-height: 24px;
		width: 100%;
	}

	#pu194
	{
		margin-top: 29px;
		width: 88.79%;
		margin-left: 7.1%;
	}

	#u194
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 29.64%;
	}

	#u194:hover
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 29.64%;
		margin-left: 0%;
	}

	#u254
	{
		margin-right: -10000px;
		width: 29.64%;
		left: 35.06%;
	}

	#u254:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 29.64%;
		margin-left: 0%;
	}

	#u230
	{
		margin-right: -10000px;
		width: 29.64%;
		left: 70.37%;
	}

	#u230:hover
	{
		margin-right: -10000px;
		width: 29.64%;
		margin-left: 0%;
	}

	#pu266-4
	{
		margin-top: 17px;
		width: 86.5%;
		margin-left: 9.39%;
	}

	#u266-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		margin-top: 2px;
		width: 25.14%;
	}

	#u266-4:hover
	{
		margin-right: -10000px;
		margin-top: 2px;
		width: 25.14%;
	}

	#u271-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 24.87%;
		left: 36.25%;
	}

	#u271-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 24.87%;
		margin-left: 0%;
	}

	#u277-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 32.81%;
		left: 67.2%;
	}

	#u277-4:hover
	{
		margin-right: -10000px;
		width: 32.81%;
	}

	#pu206
	{
		margin-top: 57px;
		width: 88.79%;
		margin-left: 7.1%;
	}

	#u206
	{
		margin-right: -10000px;
		width: 29.64%;
	}

	#u218
	{
		margin-right: -10000px;
		width: 29.64%;
		left: 35.31%;
	}

	#u242
	{
		margin-right: -10000px;
		width: 29.64%;
		left: 70.37%;
	}

	#u206:hover,#u218:hover,#u242:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 29.64%;
	}

	#pu289-4
	{
		margin-top: 19px;
		width: 83.76%;
		margin-left: 9.84%;
	}

	#u289-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 25.69%;
	}

	#u283-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 25.69%;
		left: 37.16%;
	}

	#u283-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 25.69%;
		margin-left: 0%;
	}

	#u295-4
	{
		font-size: 18px;
		line-height: 22px;
		font-family: '__Ubuntu_5';
		font-weight: 500;
		margin-right: -10000px;
		width: 25.69%;
		left: 74.32%;
	}

	#u289-4:hover,#u295-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 25.69%;
	}

	#u158-4
	{
		min-height: 55px;
		font-size: 24px;
		line-height: 29px;
		margin-top: 59px;
		width: 38.75%;
		margin-left: 6.15%;
	}

}

@media (min-width: 321px) and (max-width: 480px)
{
	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 668.8573555989299px;
		padding-top: 64px;
		padding-bottom: 184.14264440107013px;
		max-width: 480px;
	}

	#u110-4
	{
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		width: 87.5%;
		margin-left: 6.88%;
	}

	#u115-4
	{
		min-height: 50px;
		top: -1px;
		margin-bottom: -1px;
		width: 37.5%;
		margin-left: 57.09%;
	}

	#pu122
	{
		margin-top: 34px;
		width: 92.09%;
		margin-left: 4.17%;
	}

	#u122
	{
		width: 47.29%;
	}

	#pu194
	{
		margin-right: -10000px;
		margin-top: 14px;
		width: 20.59%;
		margin-left: 51.81%;
	}

	#u194
	{
		width: 98.91%;
		margin-left: 1.1%;
	}

	#u194:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 98.91%;
		margin-left: 1.1%;
	}

	#u266-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		width: 98.91%;
	}

	#u266-4:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 98.91%;
	}

	#u206
	{
		margin-top: 29px;
		width: 98.91%;
	}

	#u206:hover
	{
		margin-right: 0px;
		margin-top: 29px;
		width: 98.91%;
	}

	#u289-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 3px;
		width: 98.91%;
	}

	#u289-4:hover
	{
		margin-right: 0px;
		margin-top: 3px;
		width: 98.91%;
	}

	#u218
	{
		margin-top: 41px;
		width: 98.91%;
	}

	#u218:hover
	{
		margin-right: 0px;
		margin-top: 41px;
		width: 98.91%;
	}

	#u283-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 7px;
		width: 97.81%;
		margin-left: 1.1%;
	}

	#u283-4:hover
	{
		margin-right: 0px;
		margin-top: 7px;
		width: 97.81%;
		margin-left: 1.1%;
	}

	#pu230
	{
		margin-right: -10000px;
		margin-top: 14px;
		width: 20.82%;
		margin-left: 78.96%;
	}

	#u230
	{
		width: 97.83%;
		margin-left: 1.09%;
	}

	#u230:hover
	{
		margin-right: 0px;
		width: 97.83%;
		margin-left: 1.09%;
	}

	#u277-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		width: 100%;
	}

	#u277-4:hover
	{
		margin-right: 0px;
		width: 100%;
	}

	#u254
	{
		margin-top: 29px;
		width: 97.83%;
		margin-left: 1.09%;
	}

	#u254:hover
	{
		margin-right: 0px;
		margin-top: 29px;
		width: 97.83%;
		margin-left: 1.09%;
	}

	#u271-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 3px;
		width: 96.74%;
		margin-left: 1.09%;
	}

	#u271-4:hover
	{
		margin-right: 0px;
		margin-top: 3px;
		width: 96.74%;
		margin-left: 1.09%;
	}

	#u242
	{
		margin-top: 41px;
		width: 97.83%;
	}

	#u242:hover
	{
		margin-right: 0px;
		margin-top: 41px;
		width: 97.83%;
	}

	#u295-4
	{
		font-size: 16px;
		line-height: 19px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 7px;
		width: 97.83%;
	}

	#u295-4:hover
	{
		margin-right: 0px;
		margin-top: 7px;
		width: 97.83%;
	}

	#u158-4
	{
		min-height: 55px;
		font-size: 20px;
		line-height: 24px;
		margin-top: 32px;
		width: 43.55%;
		margin-left: 4.17%;
	}

}

@media (max-width: 320px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 455.6562272713252px;
		padding-top: 64px;
		padding-bottom: 397.3437727286748px;
		max-width: 320px;
	}

	#u110-4
	{
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		width: 87.5%;
		margin-left: 6.88%;
	}

	#u115-4
	{
		min-height: 35px;
		font-size: 12px;
		line-height: 14px;
		width: 37.5%;
		margin-left: 56.25%;
	}

	#pu122
	{
		margin-top: 34px;
		width: 86.88%;
		margin-left: 6.25%;
	}

	#u122
	{
		margin-top: 10px;
		width: 46.77%;
	}

	#pu194
	{
		margin-right: -10000px;
		width: 21.95%;
		margin-left: 53.96%;
	}

	#u194
	{
		width: 98.37%;
		margin-left: 1.64%;
	}

	#u194:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 98.37%;
		margin-left: 1.64%;
	}

	#u266-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		width: 98.37%;
	}

	#u266-4:hover
	{
		margin-right: 0px;
		margin-top: 0px;
		width: 98.37%;
	}

	#u206
	{
		margin-top: 27px;
		width: 98.37%;
	}

	#u206:hover
	{
		margin-right: 0px;
		margin-top: 27px;
		width: 98.37%;
	}

	#u289-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 3px;
		width: 98.37%;
	}

	#u289-4:hover
	{
		margin-right: 0px;
		margin-top: 3px;
		width: 98.37%;
	}

	#u218
	{
		margin-top: 24px;
		width: 98.37%;
	}

	#pu230
	{
		margin-right: -10000px;
		width: 21.95%;
		margin-left: 78.06%;
	}

	#u230
	{
		width: 98.37%;
	}

	#u230:hover
	{
		margin-right: 0px;
		width: 98.37%;
		margin-left: 0%;
	}

	#u277-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		width: 100%;
	}

	#u277-4:hover
	{
		margin-right: 0px;
		width: 100%;
	}

	#u254
	{
		margin-top: 27px;
		width: 98.37%;
	}

	#u254:hover
	{
		margin-right: 0px;
		margin-top: 27px;
		width: 98.37%;
		margin-left: 0%;
	}

	#u271-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-top: 3px;
		width: 96.73%;
	}

	#u271-4:hover
	{
		margin-right: 0px;
		margin-top: 3px;
		width: 96.73%;
		margin-left: 0%;
	}

	#u242
	{
		margin-top: 24px;
		width: 98.37%;
	}

	#u218:hover,#u242:hover
	{
		margin-right: 0px;
		margin-top: 24px;
		width: 98.37%;
	}

	#pu283-4
	{
		margin-top: -1px;
		width: 39.38%;
		margin-left: 53.44%;
	}

	#u283-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-right: -10000px;
		width: 46.83%;
	}

	#u283-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 46.83%;
		margin-left: 0%;
	}

	#u295-4
	{
		font-size: 11px;
		line-height: 13px;
		font-family: ubuntu-condensed, sans-serif;
		font-weight: 400;
		margin-right: -10000px;
		width: 47.62%;
		left: 52.39%;
	}

	#u295-4:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 47.62%;
	}

	#u158-4
	{
		min-height: 29px;
		font-size: 14px;
		top: -5px;
		margin-bottom: -5px;
		width: 40.63%;
		margin-left: 6.25%;
	}

	body
	{
		min-width: 320px;
	}
}

